# Python virtual environment
venv/

# Python cache
__pycache__/
*.pyc

# Environment variables
.env

# Chroma vector database
embeddings/

# Jupyter / notebook
.ipynb_checkpoints/

# VSCode
.vscode/

# Uploaded files
uploads/